body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#3D5C9A;
  
}
p{
  font-size: 13px;
}
a{
  color: white;
}
a:hover {
  color: #237e41;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.circle:hover {
  background-color: #ffffffd4;
}
i.fa:hover {
  color: #34d977;
}
.background-nav{
  background-color: #38456E;
}
.btn-outline-light:hover {
  color: #1ecc64;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  font-weight: 600;
}
.text-light {
  color: #f8f9fa!important;
  font-weight: 700;
}
.background-hero{
  background-image: url('/img/seccitionOne.jpg') ;
  height: 739px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  width: 100%;
  left: 0;
  font-weight: 600;
}
.imglogo{
  width: 174px;
  height: 100%;
}
a.nav-link{
  color: white !important;
  font-size: 14px;
}
.letter-lato{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.subtitle{
  font-size: 27px;
    font-weight: 600;
    color: #3D5C9A;
    padding-top: 20px;
    line-height:35px;
}
.text-hero {
  padding-top: 110px;
  
}
.btn-radius {
  border-radius: 21px;
  border: 2px solid; 
  font-size: 14px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle {
  border: 1px solid white;
  margin-top: 35px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 5px;
}

i.fa{
  font-size: 20px;
  padding: 5px;
  color: white;
  font-weight: 600;
}


a.nav-hover:hover {
  border-bottom: solid 2px #2cd06c;
  padding-bottom: 0;
}



.img-zise-nalaui{
  width: 85px;
  height: 85px;
  border-radius: 85px;
  margin: -1px;

}


.btn-store{
  
  width: 100px;
}
.btn-app{
  width: 88px;
}
.line{
     width: 117px;
      height: 3px;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgb(69, 216, 125) 94%, rgb(69, 209, 122) 100%);
  
}

.btn-download{
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #45d87d;
  color:white;
}



.title-color{
  font-size: 13px;
  font-weight: 700;
  color: #45d87d;
}
.circle-card{
  background-color: #dfffed;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    margin: 0;
    margin-top: -3px;
    margin-bottom: 10px;
}
.card-shadow {
  box-shadow: 1px 20px 36px 2px rgba(49, 205, 126, 0.12);
  line-height: 15px;
}
.btn-card{
  border-radius: 19px;
  padding: 7px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0; 
}
.btn-card:hover{
  
    color: #fff;
    border-color:  #2dc077;
    background: linear-gradient(to right, rgb(84, 189, 116) 0%, rgb(51, 181, 115) 21%, rgb(50, 218, 133) 100%);
    

}


.line-three {
  border: solid 1px #2ED887;
}
.title-sub {
  color: #3D5C9A;
  font-size: 20px;
  font-weight: 600;
}

.btn-download {
  width: 350px;
  margin-left: 25px;
  background: linear-gradient(to right, rgb(84, 189, 116) 0%, rgb(51, 181, 115) 21%, rgb(50, 218, 133) 100%);
    
}
.size-logo{
  width: 100px;
  padding: 5px;

}
.line-five{
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgb(69, 216, 125) 94%, rgb(69, 209, 122) 100%);
  margin-right: 15px;
  margin-bottom: 25px;
}
.carde {
  box-shadow: 9px 20px 36px 9px rgba(178, 240, 207, 0.26);
  border-radius: 19px;
  background-color: white;
  margin-left: 5px;
  font-size: 13px;
  padding-right: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
.carde:hover {
  border-color: white;
  background: linear-gradient(159deg, rgba(27, 130, 80, 0.76) 8%, rgba(29, 189, 112, 0.97) 55%, rgb(62, 222, 145) 97%);
  color: white;
  border-radius: 15px;
}


.caja{
  
  height: 50px;
  width: 251px;
  margin: auto;
  margin-bottom: 50px;
}
.icon-float{
  position: relative;
  top: -75px;
  z-index: -1;
}
.pEight{
  z-index: 1;
  position: relative;
  top: -67px;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 90px;
}
.colorGreen{
  color: #45d87d;
}
.containSilde{
  width: 500px;
  margin: auto;
}
.border-circle{
  width: 100px;
  height: 100px;
  padding: 7px;
  border: solid 2px #45d87d;
  border-radius: 50px;
  padding-right: 15px;
  margin: auto;
  
}
.img-zise-cicle{
  border-radius: 40px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);
}
.bottom-space{
  margin-bottom: 20px;
}
.background-item-nine{
  background-image: url('/img/coillas.jpg');
  background-repeat: no-repeat;
}
.border-botom{
  border-bottom: solid 2px #45c160;
  width: 196px;
  padding-bottom: 5px;

}
.btn-footer{
  box-shadow: 1px 8px 46px 8px rgba(136, 255, 189, 0.44);
    width: 205px;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
}
.letter-footer{
  color: white;
  font: 14px;
}
.font-letter{
  font-size: 13px;
}
.btn:hover {
  color: #d8e2d7;
  text-decoration: none;
}
.btn-coworking{
  margin-left: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    width: 217px;
    background-color: #2ED887;
    color: white;
    border-radius: 50px;
}


@media only screen and (max-width: 2000px) {

  
  .img-footer{
    background-image: url('/img/img-footer.png');
    height: 240px;
    width: 453px;
    z-index: 2;
  
    background-repeat: no-repeat;
  }
  
  p.subtitle-three {
    font-size: 37px;
    color: #3D5C9A;
    line-height: 45px;
    font-weight: 600;
  }
  .background-section-six{
    background-image: url('/img/section_7.jpg'); 
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
    background-size: contain;
  }
  .background-section-five{
    background-image: url('/img/Elipse.png');
    background-repeat: no-repeat;
  }
  .background-sectionThree{
    background-image: url('/img/section_4.png');
    background-repeat: no-repeat;
    height: 1015px;
    margin-bottom: 145px;
  }
  .backgroundTwo{
    background-image: url('/img/backgroundTwo.jpg');
    height: 747px;
      width: 100%;
      background-repeat: no-repeat;
      left: -7px;
     margin-bottom: -15px;
    
  }
  .backgroundEight{
    background-image: url('/img/section_8.png');
    position: relative;
    top: 200px;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .letter-color{
    color:#38456E;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    
  }
  .letter-color-Three{
    color: #38456E;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
  }
  .ground-float-one{
    background-image: url('/img/5.png');
    height: 100px;
      width: 100%;
      left: 700px;
      top: -125px;
      z-index: -1;
  }
  .colorBlueDark{
    color: #3D5C9A;
    font-size: 14px;
    font-weight: 700;
  }

  .section-two{
    background-image: url('/img/section_2.png');
    height: 763px;
    width: 100%;
    background-size: 57%;
    background-repeat: no-repeat;
    background-position: right;
    
  }
  .background-section-four{
    background-image:url('/img/section4.jpg'); 
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 204px;
  }


  .items-price {
    padding-left: 115px;
    margin-left: 100px;
}
.card-green{
    height: 392px;
    background-color: rgb(46, 182, 120);
    padding: 15px;
    color: white;
    border-color: #52c365bd;
    border-radius: 7px;
    box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);
    z-index: 1;
    margin-bottom: 0px;
  margin-top: 0px; 
  line-height: 14px;
  padding-top: 30px;

  
  }
.btn-price {
  background-color: white;
  color: #34d882;
  border-radius: 20px;
  font-size: 14px;
  border: solid 1px #2eb677;
}
.card-white {
  height: 330px;
    margin-top: 30px;
  padding: 26px;
  font-size: 10px;
  line-height: 17px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);
}
.card-green.card-white:hover {
  box-shadow: 1px 5px 34px 12px rgba(52, 216, 130, 0.36);
}
.sectionNinebackground{
  background-image: url('/img/sectionNine.jpg'); 
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;

}
.fotter{
  background-image: url('/img/footer.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.carouel-center{
  text-align: center;
  margin-top: 100px;
}

.border-green{
  background: linear-gradient(to right, rgb(84, 189, 116) 0%, rgb(51, 181, 115) 21%, rgb(50, 218, 133) 100%);
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);

}
.border-white {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);

}

.space-li {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-l{
  margin-left: 245px; 

}
.space-nav{
  padding: 27px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 70px;
}
.font-padding{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.border-bt{
  background-color: #31cf82;
  height: 2px;
  width: 600px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 85px;
}

.img-selectoritems{
  width: 250px;
  padding-bottom: 20px;
  padding-right: 0;
  cursor: pointer;
  padding-top: 0;
  padding-left: 0;
  padding-top: 20px;


}
.pad-btm{
  padding-bottom: 180px;
  padding-top: 115px;
}

.subtitle-card{
  border-bottom: 2px solid #2ed887;
  width: 150px;
  padding-bottom: 10px;
  margin: auto;
}
.text-margin{
  padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
    margin-bottom: 20px;
    margin-left: -5px; 
}
.round {
  border-radius: 10px;
  padding-bottom: 20px;
}
.top-p{
  position: relative;
    top: 18px;
}
.a-color{
  color:#3D5C9A;
  text-decoration: underline;
  font-size: 14px;

}
.ground-float-two {
  background-image: url(/img/5.png);
  height: 110px;
  width: 195px;
  left: -68px;
  top: 160px;
  z-index: 6;
  position: absolute;
}


.img-section-create{
  width: 450px;
    height: 575px;
    margin-left: 35px;
}
.subtitle-create{
  font-size: 37px;
  color: #3D5C9A;
  line-height: 49px;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 40px;
  letter-spacing: -1px;

} 
.section-create{
  padding-bottom: 45px;
}
.background-cowork {
  height: 100%;
  width: 100%;
  position: absolute;
}
.section-cowork{
  height: 850px;
  padding-top: 100px;
}
.display-on-mobile{
  display: none;
}
}




@media only screen and (max-width: 600px) {
  .img-selectoritems {
    width: 200px;
    padding-left: 5px;
    padding-right: 10px;
}
  .section-four-img{
    width: inherit;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .background-cowork-mobile{
    height: 100%;
    width: 100%;
    margin-left: 0;
    padding-bottom: 30px;
    position: relative;
    left: 30px;
  }
  .img-section-create-mobile {
    height: 100%;
    width: 100%;
    margin-left: 0;
}
.img-section-create {
 display: none;
}
.section-cowork {
  height: 1000px;
  padding-top: 0;
}
  
  .pad-btm {
    padding-bottom: 180px;
    padding-top: 0; 
} 

.section-create {
  padding-bottom: 45px;
  padding-top: 85px;
  padding: 25px;
}
  .img-section-create {
    height: 100%;
    width: 100%;
    margin-left: 0;
} 
  .ground-float-two {
    background-image: url(/img/5.png);
    height: 111px;
    width: 155px;
    left: -68px;
    top: 84px;
    z-index: -6;
    position: absolute;
}

  .space-card{
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 5px;
    padding-bottom: 45px;
    padding-top: 10px;
  }
  .pad-btm {
    padding-bottom: 0;
}
  .border-bt {
    width: 230px;
  }

  
  .margin-l {
    margin-left: 0;
}
  .space-nav {
    padding: 8px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0;
}
  .font-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .letter-color-Three{
    color: #38456E;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    padding-top: 0;
  }
  .img-footer{
    background-image: url('/img/img-footer.png');
    z-index: 1;
    background-repeat: no-repeat;
    margin-top: 43px;
    width: 100%;
    background-size: 100%;
  }
  .color{
    background-color: #2d374c;
    margin-left: -30px;
    padding-left: 35px;
    margin-right: -30px;
  }
  .contact-hover{
    display: none;
  }
  
  .card-white{
     margin-top: 0px;
  }
  .card-green{
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .items-price{
    padding-left: 0px;
    margin-left: 0px;
  }
  .background-section-five{
    background-image: none;
    border-top: 2px solid #31c279;
    margin: auto;
 
  }
  
  img.img-zise {
    width: 240px;
}
  .background-section-four{ 
    background-image: none;
    height: 800px;
  }

  
  .btn-download {
    width: 223px;
    margin-left: 0;
    padding: 10px;
    margin-bottom: -25px;
    margin-top: 0;
      
  }
  .btn-radius {
    padding-right: 10px;
    padding-left: 10px;
    width: 260px;
}
.backgroundTwo {
  background-image: url('/img/backgroundTwo.jpg');
  height: 1350px;
  width: 100%;
  background-repeat: no-repeat;
  left: -7px;
  margin-bottom: 50px;
  background-size: contain;
  padding-top: 345px;
  margin-top: 0;
}
.ground-float-one{
  display: none;
}
.section-two {
  background-image: none;
  height: 700px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
 
}
.letter-color{
  background-image: none;
  padding-left: 0;
  margin-left: 0;
}
.background-sectionThree{
  background-image: none;
    height: 1200px;
}
p.subtitle-three {
  font-size: 30px;
  line-height: 35px;
  inline-size: auto;
  
}
.carouel-center {
  text-align: center;
  margin-top: 100px;
  width: 300px;
}
.containSilde {
  width: auto;
  margin: auto;
}
.sectionNinebackground {
 
  background-image: none;
}
.fotter{
  background-size: auto;
}
.backgroundEight{
  display: none;
}
.background-section-six{
  height: 1525px;
  background-image: none;

  padding-left: 0;
}
.background-hero{
  background-size: auto;
}
.imglogo {
  width: 150px;
  height: 100%;
}
.text-hero {
  padding-top: 20px;
}
.border-green{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 5px;
}
.border-white{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 30px;
}
  
}