html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#3D5C9A;
  
}
p{
  font-size: 14px;
    font-family: lato,regular;
    color: #38456E;
    line-height: 21px;
} 
.font-title-up{
  font-size: 16px;
  color: white;
  font-weight: 100;
}
a{
  color: white;
  font-family: lato;
}
a:hover {
  color: #237e41;
  text-decoration: none;
  
}

.psectionitems{
  font-weight: bold;
    color: #38456E;
    width: 210px;
    font-size: 30px;
    line-height: 1.339em;
    text-align: center;
    margin: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.circle:hover {
  background-color: #ffffffd4;
}
i.fa:hover {
  color: #34d977;
}
.background-nav{
  background-color: #38456E;
}
.btn-outline-light:hover {
  color: #1ecc64;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  font-weight: 600;
}
.text-light {
  color: #f8f9fa!important;
  font-weight: 700;
  font-size: 37px;
    line-height: 1.3em;
}
.background-hero{
  background-image: url('/img/seccitionOne.jpg') ;
  height: 739px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  width: 100%;
  left: 0;
  font-weight: 600;
}

.imglogo{
  width: 174px;
  height: 100%;
}
a.nav-link{
  color: white !important;
  font-size: 14px;
}
.letter-lato{
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding-bottom: 30px;
  line-height: 22px;
    font-weight: lighter;

}
.font-title-section-two{
  font-size: 34px;
    line-height: 1.300em;
    text-align: center;
}
.subtitle{
  font-size: 37px;
  font-weight: 600;
  color: #3D5C9A;
  padding-top: 20px;
  line-height: 37px;
}
.text-hero {
  padding-top: 110px;
  
}
.btn-radius {
  border-radius: 21px;
  border: 2px solid; 
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle {
  border: 1px solid white;
  margin-top: 35px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 5px;
}

i.fa{
  font-size: 20px;
  padding: 5px;
  color: white;
  font-weight: 600;
}


a.nav-hover:hover {
  border-bottom: solid 2px #2cd06c;
  padding-bottom: 0;
}



.img-zise-nalaui{
  width: 85px;
  height: 85px;
  border-radius: 85px;
  margin: -1px;

}


.btn-store{
  
  width: 100px;
}
.btn-app{
  width: 100%;
}
.btn-app-section-two{
  width: 100%;
}
.line{
     width: 117px;
      height: 3px;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgb(69, 216, 125) 94%, rgb(69, 209, 122) 100%);
      margin-bottom: 28px;
}
.subtitle-construye{
  font-size: 27px;
    line-height: 37px;
    font-weight: bold;
    color: #3D5C9A;
}

.btn-download{
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #45d87d;
  color:white;
}





.circle-card-img{ 
  width: 60px;
  padding-bottom: 15px;
}
.card-shadow {
  box-shadow: 15px 11px 36px 2px rgba(49, 205, 126, 0.12);
  line-height: 15px;
  border-color: white;
  padding: 17px;
  margin: 10px;
  border-radius: 16px;
}
.btn-card{
  border-radius: 19px;
  padding: 7px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0; 
  font-size: 13px;
}
.btn-card:hover{
  
    color: #fff;
    border-color:  #2dc077;
    background: linear-gradient(to right, rgb(84, 189, 116) 0%, rgb(51, 181, 115) 21%, rgb(50, 218, 133) 100%);
    

}


.line-three {
  border: solid 1px #2ED887;
}
.title-sub {
  color: #3D5C9A;
  font-size: 20px;
  font-weight: 600;
}

.btn-download {
  width: 350px;
  margin-left: 25px;
  background: linear-gradient(to right, rgb(84, 189, 116) 0%, rgb(51, 181, 115) 21%, rgb(50, 218, 133) 100%);
  font-size: 18px;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 8px 46px 8px rgba(136, 255, 189, 0.44);
      
}
.btn-download-mate{
  width: 240px;
  background-color: #2ED887!important;
  padding: 010px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 28px;
  color: white;
  font-weight: bold;
}
.size-logo{
  width: 100%;
  

}
.line-five{
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgb(69, 216, 125) 94%, rgb(69, 209, 122) 100%);
  margin-right: 15px;
  margin-bottom: 25px;
}
.carde {
  box-shadow: 9px 20px 36px 9px rgba(178, 240, 207, 0.26);
  border-radius: 19px;
  background-color: white;
  margin-left: 5px;
  font-size: 13px;
  padding-right: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
.carde:hover {
  border-color: white;
  background: linear-gradient(159deg, rgba(27, 130, 80, 0.76) 8%, rgba(29, 189, 112, 0.97) 55%, rgb(62, 222, 145) 97%);
  color: white;
  border-radius: 15px;
}


.caja{
  
  height: 50px;
  width: 251px;
  margin: auto;
  margin-bottom: 50px;
}
.icon-float{
  position: relative;
  top: -382px;
  opacity: 1.7;
}
.pEight{
  z-index: 1;
  position: relative;
  top: -67px;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 90px;
}
.colorGreen{
  color: #45d87d;
}
.containSilde{
  width: 500px;
  margin: auto;
}
.border-circle{
  width: 100px;
  height: 100px;
  padding: 7px;
  border: solid 2px #45d87d;
  border-radius: 50px;
  padding-right: 15px;
  margin: auto;
  
}
.img-zise-cicle{
  border-radius: 40px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);
}
.bottom-space{
  margin-bottom: 20px;
}
.background-item-nine{
  background-image: url('/img/coillas.jpg');
  background-repeat: no-repeat;
}
.border-botom{
  border-bottom: solid 2px #45c160;
  width: 196px;
  padding-bottom: 5px;

}
.btn-footer{
  box-shadow: 1px 8px 46px 8px rgba(136, 255, 189, 0.44);
    width: 205px;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
}
.letter-footer{
  color: white;
  font: 14px;
}
.font-letter{
  font-size: 13px;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.btn-coworking{
  margin-left: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    width: 217px;
    background-color: #2ED887;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px;
}

.btn-radius-register:hover {
  color: #32d276;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 5px 6px 16px 0px rgb(255, 255, 255);
}
.btn-radius:hover {
  color: #32d276;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 5px 6px 16px 0px rgb(255, 255, 255);
}
.btn-radius-registe:hover {
  color: #35dd8a;
  text-decoration: none;
  font-weight: bold;
}
.btn-download-mate:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #2ebc78!important;
}
.btn-coworking:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #2ebd79;
}



@media only screen and (max-width: 2000px) {
  .background-secon-hero{
    background-image: url('/img/hero_der.png');
    padding-left: 0;
    padding-right: 0;
    background-repeat: no-repeat;
    background-size: inherit;
    position: relative;
    background-position: right;
  }
  .padding-hero{
    padding-left: 0;
    padding-right: 0;
  }
  .card-month-one{
    background-color: white;
    height: 366px;
    width: 240px;
    margin-left: 93px;
    border-radius: 15px;
    position: relative;
    top: 27px;
    box-shadow: 24px 22px 93px 20px rgb(197, 248, 234);
}
  .card-month-two{
    background-color: white;
    height: 366px;
    width: 240px;
    border-radius: 15px;
    position: relative;
    top: 27px;
    left: -7px;
    box-shadow: 24px 22px 93px 20px rgb(197, 248, 234);
  }
  .card-month-three {
    height: 410px;
    width: 240px;
    border-radius: 15px;
    position: relative;
    bottom: 86%;
    left: 45px;
    background: linear-gradient(180deg, rgba(45, 194, 122, 0.92) 8%, rgba(36, 203, 122, 0.85) 22%, rgb(49, 221, 138) 79%);
    box-shadow: -4px 3px 20px 15px rgb(197, 248, 234);
}
.padding-card{
  text-align: center;
  padding-top: 20px
}
.padding-card-green{
  text-align: center;
  padding-top: 30px
}
.btn-radius-card {
  border-radius: 21px;
  border: 2px solid #35dc8a;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #35dc8a;
    font-weight: bold;
}
.btn-radius-card:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #35dc8a;
}
.subti-card{
  color: #3b6199;
    font-weight: bold;
}
.subti-card-white{
  color: white;
    font-weight: bold;
    padding-bottom: 10px;
}
.padding-card-white{
  padding-left: 40px;
    padding-right: 40px;
}
.padding-top{
  padding-top: 15px;
}
.ext-one-card{
  padding-left: 40px;
    padding-right: 43px;
}
  .title-color{
    font-size: 20px;
    font-weight: bold;
    color: #2ED183;
    padding-top: 15px;
    margin-bottom: 0;
    
  }
  .padding-cowork{
    padding-left: 50px;
  }

  .btn-radius-register {
  border-radius: 21px;
  border: 2px solid;
  font-size: 14px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color:  #34d977;
  border-color: white;
}
  .img-footer{
    background-image: url('/img/img-footer.png');
    height: 240px;
    width: 453px;
    z-index: 2;
  
    background-repeat: no-repeat;
  }
  
  p.subtitle-three {
    font-size: 37px;
    color: #3D5C9A;
    line-height: 45px;
    font-weight: 600;
  }
  .background-section-six{
    background-image: url('/img/section_7.jpg'); 
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
    background-size: cover;
  }
  .background-section-five{
    background-image: url('/img/Elipse.png');
    background-repeat: no-repeat;
  }
  .background-sectionThree{
    background-image: url('/img/section_4.png');
    background-repeat: no-repeat;
    height: 1015px;
    margin-bottom: 145px;
  }
  .backgroundTwo{
    background-image: url('/img/backgroundTwo.jpg');
    height: 747px;
      width: 100%;
      background-repeat: no-repeat;
      left: -7px;
     margin-bottom: -15px;
     background-size: 55%;
    
  }
  .backgroundEight{
    background-image: url('/img/section_8.png');
    position: relative;
    top: 100px;
    height: 500px;
    background-size: inherit;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    margin-bottom: 100px;
  }
  
  .letter-color{
    color:#38456E;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    
  }
  .letter-color-Three{
    color: #38456E;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
  }
  .ground-float-one{
    background-image: url('/img/5.png');
    height: 100px;
      width: 100%;
      left: 700px;
      top: -125px;
      z-index: -1;
  }
  .colorBlueDark{
    color: #3D5C9A;
    font-size: 14px;
    font-weight: 700;
  }

  .section-two{
    background-image: url('/img/section_2.png');
    height: 845px;
    width: 100%;
    background-size: 57%;
    background-repeat: no-repeat;
    background-position: right;
    
  }
  .background-section-four{
    background-image:url('/img/section4.jpg'); 
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 204px;
  }


  

.btn-price {
  background-color: white;
  color: #34d882;
  border-radius: 20px;
  font-size: 14px;
  border: solid 1px #2eb677;
}


.sectionNinebackground{
  background-image: url('/img/sectionNine.jpg'); 
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;

}
.fotter{
  background-image: url('/img/footer.png');
  background-repeat: no-repeat;
  background-size: 130%;
}
.carouel-center{
  text-align: center;
  margin-top: 100px;
}

.border-green{
  background: linear-gradient(to right, rgb(84, 189, 116) 0%, rgb(51, 181, 115) 21%, rgb(50, 218, 133) 100%);
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);

}
.border-white {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 5px 34px 12px rgba(54, 215, 138, 0.27);

}

.space-li {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-l{
  margin-left: auto; 

}
.space-nav{
 padding-bottom: 15px;
    padding-top: 15px;
   
}
.font-padding{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.border-bt{
  background-color: #31cf82;
  height: 2px;
  width: 600px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 85px;
}

.img-selectoritems{
  width: 230px;
  padding-bottom: 20px;
  padding-right: 0;
  cursor: pointer;
  padding-top: 0;
  padding-left: 0;
  padding-top: 20px;


}
.pad-btm{
  padding-bottom: 180px;
  padding-top: 115px;
}

.subtitle-card{
  border-bottom: 3px solid #2ed887;
  width: 112px;
  padding-bottom: 5px;
  margin: auto;
     
}
.text-margin{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 100;
  line-height: 27px;
    margin-bottom: 10px;
  margin-bottom: 10px;
  margin-left: -5px;
  font-family: lato-light;
  color: #38456E; 
}
.round {
  border-radius: 10px;
  padding-bottom: 20px;
  border-color: white;
  box-shadow: 5px 12px 45px 0px rgb(214, 222, 240);

}
.top-p{
  position: relative;
    top: 18px;
}
.a-color{
  color:#3D5C9A;
  text-decoration: underline;
  font-size: 14px;

}
.ground-float-two {
  background-image: url(/img/5.png);
  height: 110px;
  width: 195px;
  left: -68px;
  top: 160px;
  z-index: 6;
  position: absolute;
  opacity: 0.5;
}


.img-section-create{
  width: 100%;
  height: 100%;
  margin-left: 35px;
}
.subtitle-create{
  font-size: 37px;
  color: #3D5C9A;
  line-height: 49px;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 40px;
  letter-spacing: -1px;

} 
.section-create{
  padding-bottom: 0px;
}
.background-cowork {
  height: 100%;
  width: 100%;
  position: absolute;
}
.section-cowork{
  height: 980px;
  padding-top: 100px;
}
.display-on-mobile{
  display: none;
}
.img-section-tree{
  width: 100%;
}
.position-setection-logo{
  position: relative;
  bottom: 135px;
}
.btn-radius-registe {
  border-radius: 21px;
  border: 2px solid;
  font-size: 14px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color: #34d977;
  border-color: white;
}
.display-on-mobile{
  display:none;
}
}




@media only screen and (max-width: 600px) {
  .subtitle-card{
    
    margin: auto;
        margin-bottom: 10px;
  }
  .btn-store {
    width: 150px;
    height: 100%;
}
.btn-app {
  width: 100%;
  height: 100%;
}
  .background-secon-hero{
    background-image:none;
    padding-left: 0;
  }
  .display-on-desktop{
    display:none;
  }
  .display-on-mobile{
    display:flex;
  }
  .card-month-one {
   
    margin-left: 0;
    margin-bottom: 45px;
}
.card-month-three{
  bottom: -60px;
  left: 0;
  margin-left: 10px;
}
.card-month-two{
  margin-left: 10px;
}
.btn-radius-registe {
 width: 80%;
}
.icon-float {

  display: none;
}
  .position-setection-logo{
    position: relative;
    bottom: 0px;
  }
  .img-section-tree{
    width: 100%;
    padding-top: 60px;
  }
  .title-color{
   padding-left: 0;
    margin-top: 10px;
  }
  .padding-cowork {
    padding-left: 15px;
}
  .btn-radius-register{
    width: 100%;
    margin-bottom: 15px;
  }
  .img-selectoritems {
    width: 200px;
    padding-left: 5px;
    padding-right: 10px;
}
  .section-four-img{
    width: inherit;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 2;
    position: relative;
    left: -30px;
  }
  .background-cowork-mobile{
    height: 100%;
    width: 100%;
    margin-left: 0;
    padding-bottom: 30px;
    position: relative;
    left: 30px;
  }
  .img-section-create-mobile {
    height: 100%;
    width: 100%;
    margin-left: 0;
}
.img-section-create {
 display: none;
}
.section-cowork {
  height: 1000px;
  padding-top: 0;
}
  
  .pad-btm {
    padding-bottom: 180px;
    padding-top: 0; 
} 

.section-create {
  padding-bottom: 45px;
  padding-top: 85px;
  padding: 25px;
}
  .img-section-create {
    height: 100%;
    width: 100%;
    margin-left: 0;
} 
  .ground-float-two {
    background-image: url(/img/5.png);
    height: 111px;
    width: 155px;
    left: -68px;
    top: 84px;
    z-index: -6;
    position: absolute;
}

  .space-card{
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 5px;
    padding-bottom: 45px;
    padding-top: 10px;
  }
  .pad-btm {
    padding-bottom: 0;
}
  .border-bt {
    width: 230px;
  }

  
  .margin-l {
    margin-left: 0;
}
  .space-nav {
    
    padding-bottom: 15px;
    padding-top: 15px;
  
}
  .font-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .letter-color-Three{
    color: #38456E;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    padding-top: 0;
  }
  .img-footer{
    background-image: url('/img/img-footer.png');
    z-index: 1;
    background-repeat: no-repeat;
    margin-top: 43px;
    width: 100%;
    background-size: 100%;
  }
  .color{
    background-color: #2d374c;
    margin-left: -30px;
    padding-left: 35px;
    margin-right: -30px;
  }
  .contact-hover{
    display: none;
  }
  
  .card-white{
     margin-top: 0px;
  }
 
  
  .background-section-five{
    background-image: none;
    border-top: 2px solid #31c279;
    margin: auto;
 
  }
  
  img.img-zise {
    width: 240px;
}
  .background-section-four{ 
    background-image: none;
    height: 800px;
  }

  
  .btn-download {
    width: 223px;
    margin-left: 0;
    padding: 10px;
    margin-bottom: -25px;
    margin-top: 0;
      
  }
  .btn-radius {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}
.backgroundTwo {
  background-image: url('/img/backgroundTwo.jpg');
  height: 1485px;
  width: 100%;
  background-repeat: no-repeat;
  left: -7px;
  margin-bottom: 50px;
  background-size: contain;
  padding-top: 345px;
  margin-top: 0;
}
.ground-float-one{
  display: none;
}
.section-two {
  background-image: none;
  height: 700px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
 
}
.letter-color{
  background-image: none;
  padding-left: 0;
  margin-left: 0;
}
.background-sectionThree{
  background-image: none;
  height: 1550px;
}
p.subtitle-three {
  font-size: 30px;
  line-height: 35px;
  inline-size: auto;
  
}
.carouel-center {
  text-align: center;
  margin-top: 100px;
  width: 300px;
}
.containSilde {
  width: auto;
  margin: auto;
}
.sectionNinebackground {
 
  background-image: none;
}
.fotter{
  background-size: auto;
}
.backgroundEight{
  display: none;
}
.background-section-six{
  height: 1525px;
  background-image: none;

  padding-left: 0;
}
.background-hero{
  background-size: auto;
}
.imglogo {
  width: 150px;
  height: 100%;
}
.text-hero {
  padding-top: 100px;
}
.border-green{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 5px;
}
.border-white{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 30px;
}
.margin-logo-red{
  margin-top: -20px;
}
  
}